th, td {
    text-align: center;
    vertical-align: middle;
    font-size: calc(0.001rem + 1vw);
}
.zerar{
    margin: 0px!important;
    padding: 0px!important;
}
.navbar-custom {
    background-color: #306d7d;
}
.topheader{
    background-color: #224d58;
    color: white;
}
.topheader_left{
    font-size: calc(0.001rem + 0.9vw);
    font-weight: 500;
}
.topheader_right{
    font-size: calc(0.001rem + 0.9vw);
    font-weight: 400;
}
input::-webkit-input-placeholder {
    font-size: calc(0.001rem + 0.9vw);
}
.register{
    font-weight: 200;
    font-size: 0.4em;
    display:block;
    margin-top: 18px;
    margin-left: -17px;
}

.cabraiz{
    margin-top: 10px;
    margin-right: 0px;
    font-size: 25px;
}
.cabraiz_2{
    font-size: 10px;
    display:block;
    margin-left: 42px;
    margin-top: -9px;
    font-weight: bold;
}
.container2{
    padding: 0px;
    margin: 0px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.logo{
    display:block;
    margin-top: 5px;
    margin-left: -5px;
    height: 60px;
    width: 100px;
}

form{
    width: 650px;
}

.white{
    color: white;
}

.navbar-custom_2{
    background-color: #459db4;
}

.btn-itens {
    background-color: #459db4 !important;
    border: none!important;
    transition: 1.2s!important;
}
.btn-itens:hover {
    background-color: #306d7d!important;
}
.img {
    object-fit: none!important;
    max-height: 230px!important;
    width: 100%!important;
    object-position: 50% 50%!important;
  }

.rowcarrousel{
    height: 230px;
}
.cropping{
    height: 230px!important;
    max-width: 100%!important;
}
.cropping-left{
    object-fit: none!important;
    height: initial!important;
    max-width: 120px!important;
    object-position: 0 0!important;
    filter: blur(2px);
    transform: scale(1.1); 
}
.cropping-right{
    object-fit: none!important;
    height: initial!important;
    max-width: 120px!important;
    object-position: 100% 0!important;
    filter: blur(2px);
    transform: scale(1.1);
}
.listaMenu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-item{
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}
li.borderless {
    border-top: 0 none;
  }
.sizeCarnival{
    height: 230px;
}