th, td {
    text-align: center;
    vertical-align: middle;
    font-size: calc(0.001rem + 1vw);
}
.navbar-custom {
    background-color: #306d7d;
}
.topheader{
    background-color: #224d58;
    color: white;
    font-size: calc(0.001rem + 0.9vw);
    font-weight: 500;
}
input::-webkit-input-placeholder {
    font-size: calc(0.001rem + 0.9vw);
}
.register{
    font-size: 0.4em;
    display:block;
    margin-top: 6px;
}
.cabraiz{
    margin-right: 0px;
    font-size: calc(0.001rem + 1.7vw);
}